
body{
    background:url(fondo.jpg);
    background-position: right top ;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;


}


h1 {

    padding:10px 10px 10px 10px;
    margin: 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 60px;
    color:white;
    background: #e8b7d4;
    opacity: 0.8;
}
section{
    margin:10px;
    padding: 0px;


}
section, who{
    margin:0px;
    padding: 0px;

}
h2{
    margin: 0px;
    padding: 100px 0px 10px 0px;
    font-size: 50px;
    font-style: italic;

}
p {
    margin:0px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
    color: white;
    font-style: italic;
    font-weight: bold;
    
}
#social{
    padding: 10px ;
    height: 50px;
    width: 360px;
    margin: 10px 10px 0px 10px ;
    

}
#dato{
    background-color:#e8b7d4;
    opacity: 0.8;
    list-style-type: none;
    padding: 10px;
    height: 100px;
    width: 360px;
    margin: 10px;
}
#lenguas{
    padding: 10px ;
    height: 50px;
    width: 360px;
    margin: 10px 10px 0px 10px ;
    

}
#idioma{
    background-color:  #e8b7d4;
    opacity: 0.8;
    list-style-type: none;
    padding: 10px;
    height: 100px;
    width: 360px;
    margin: 10px;
    font-weight: bold;
    
    
}
.icon i{
    background:none;
    color:#aa5377;
    font-size: 20px;
    padding: 5px;
 }
 .icon1 i{
    background:none;
    color:rgb(235, 4, 4);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
 }
 .icon2 i{
    background:none;
    color:#ebe9e9;
    font-size: 20px;
    padding: 5px;
 }
 .icon3 i{
    background:none;
    color:#2230b1;
    font-size: 20px;
    padding: 5px;
 }
#experiencia{
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 0px 10px;

}
#educa{
    background-color: #e8b7d4;
    opacity: 0.8;
    list-style-type:square;
    padding: 10px 10px 0px 20px;
    margin: 10px 0px 0px 10px;
    font-size: 15px;

}
button {
 background: none;
 border: none;

 }
