body {
  font-family: 'Fragment Mono', sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  background: radial-gradient(#1D1A39, #451952, #662549, #AE445A, #F39F5A, #E8BCB9);
  background-size: cover;
  background-attachment: fixed;
}


header {
    background: linear-gradient(135deg, #662549, #AE445A, #F39F5A, #E8BCB9);
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 2;
  }

h1 {
  font-size: 48px;
  margin: 0;
  color: #ffffff;
}

h3 {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background: linear-gradient(135deg, #662549, #AE445A, #F39F5A, #E8BCB9);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

article {
  flex: 1;
  margin-right: 20px;
}

fieldset {
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 5px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1D1A39;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  display: inline-block;
  width: auto;
}

ul {
  padding-left: 20px;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

.icon i {
  background: none;
  color: #1D1A39;
  font-size: 20px;
  padding: 5px;
}

.icon1 i {
  font-weight: bold;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

footer {
  text-align: center;
  padding: 20px;
}

button.print-button {
  background-color: #1D1A39;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

